---
import { LINKS } from "../lib/constants";
import Card from "./Card/index.astro";
import InternshipPopup from "./InternshipPopup.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Tat, a full-stack software developer from San Francisco, CA. Passionate about Math, Artificial Intelligence, Machine Learning, Large Language Model, Hackathon and excited to hear your next startup idea.🔥🔥🔥
        <br />
        <br />
        <b>Highlights</b>
        <ul class="list-disc list-inside">
          <li>Participated in <b class="text-blue-500 hover:text-blue-400"><a href={LINKS.calhack} target="_blank"><u>CalHack 11.0</u></a></b></li>
          <li>Published a  <b class="text-green-500 hover:text-green-400"><a href={LINKS.paper} target="_blank"><u>research paper</u></a></b></li>
          <li>Completed <InternshipPopup /> technical interns</li>
        </ul>
        <br />
        <b>My primary tools of choice includes:</b>
      </p>
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>React</li>
        <li>Python</li>
        <li>Flask</li>
        <li>PostgreSQL</li>
        <li>Astro</li>
        <li>Nodejs</li>
      </ul>
    </div>

  </div>
</Card>
